.dev{
    height: 100%;
    width:100%;
    box-shadow:0 0 20px 2px rgba(0,0,0,0,.1);
    transition: 1s;
    
    
}
.div:hover{
    transform: scale(1.1);
    z-index:2;
    
    transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition:all .4s;
    -o-transition: all .4s;
    cursor:pointer;
    
    
    
}
