
.index{
    border-radius: 10px;
    z-index: 1;
    position: absolute;
    
    
  }
  .header{
    z-index: 3;
    position: fixed;
    margin-top: -70px;
    width:100%;
  
  }
  .in{
    z-index:2;
  }
